{% load static %}
{% get_static_prefix as STATIC %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180757271-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180757271-1');
</script>

  <title>Contact Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/fontawesome/css/brands.css" rel="stylesheet">
  <link href="/fontawesome/css/solid.css" rel="stylesheet">

  <link rel="stylesheet" href="{{STATIC}}css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a style ="display: contents;" href="/accounts/"><img src="{% static "software/logo.png" %}" alt="Los Angeles" width="105" height="85"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-2">
        <a class="nav-link" href="/accounts/">Home</a>
      </li>
      <li class="nav-item mr-2">
        <div class="dropdown">
          <a class="nav-link dropbtn">Services

          </a>
          <div class="dropdown-content">
          <a href="/accounts/services/">Web Solutions</a>
          <a href="/accounts/service2/">Digital Marketing</a>
          </div>
        </div>
        
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="/accounts/training/">Industrial Training</a>
      </li> 
      <li class="nav-item mr-2">
        <a class="nav-link" href="/accounts/contact/">Contact Us</a>
      </li>   
      <li class="nav-item mr-2">
        <a class="nav-link" href="/accounts/aboutus/">About Us</a>
      </li> 
    </ul>
    <ul class="navbar-nav ml-2">
      <li class="nav-item social twitter mr-2">
        <a href="https://www.linkedin.com/in/capricon-web-a740871ba/" target="_blank"> 
        <img src="{% static "software/linkedin.png" %}" alt="Los Angeles" width="45" height="39">
      </li></a>
      <li class="nav-item social mr-2">
        <a href="https://www.facebook.com/Capricon-Web-Solutions-102573828310411/?modal=admin_todo_tour " target="_blank">
        <img src="{% static "software/face.png" %}" alt="Los Angeles" width="53" height="43">
      </li></a>
      <li class="nav-item social mr-2">
        <a href="https://twitter.com/CapriconSoluti1  " target="_blank">
        <img src="{% static "software/twitter1.png" %}" alt="Los Angeles" width="58" height="48">
      </li></a>
         
    </ul>
  </div>  
</nav>
  <div class="training">
    <center><h3 style="background-image: url({% static 'software/training.jpg' %}); color:blue;" class="pt-5 pb-5">Contact Us</h3></center>
  </div>
  <div class="container-fluid">
    <div class="container-fluid">
        
        <h3 class="pt-2">Contact Us</h3>
        <p style="text-align: justify;" class="align pt-2">
            Industrial training is very essential. The student gets a chance to learn new technologies.
            A university is generally not in tune with the latest industry requirements.In engineering and many other
            courses Industrial training is very important.This helps the student to gain industrial exposure and also get familiar with the environment of the corporate world he/she wishes to enter.
            But the most important fact about industrial training is that it should be taken very seriously both by students as well as trainers.

        </p>
            <p style="text-align: justify;" class="align pt-3">
                When it comes to traning there is six month training and six week training. Both six week and six month are important.
                As we know in your university/college students do a lot of theoretical work so training is very important to apply your knowledge in live projects and to do work with the professionals.
                In addition to the technical skill accomplishment the particular candidate is also groomed on communication Skills, interpersonal skills, working in a team and leadership skills. 
                These skills are very important while applying for a job. We provide training in many technologies whether it is front end or backend.
                Capricon provide different type of industrial training listed below.
            </p>
            <p>
                <ul>
                    <li>
                        6 Week Industrial Training
                    </li>
                    <li class="pt-2">
                        6 Month Industrial Training
                    </li>
                </ul>
            </p>
            <div class="row">
              <div class="col-sm">
           
                  <h3 style="color:blue;"> HP </h3>
                    <p>
                      Office Address1: Sugger PO Teaestate Bundla Palampur Distt Kangra HP-(176061)

                    </p>
                    <P>
                    contact No: 8894320303
                    </P>
                    <P>
                    mail id: capriconwebsolutions@gmail.com
                    </P>

             </div>
              <div class="col">

                  <h3 style="color:blue;"> CHANDIGARH </h3>
                      <p>
              

                      Office Address2: #51,52 First Floor, Sarpanch Complex, Sector 41D, Chandigarh, 160036
                      </p>
                      <P>
                      contact No: 8894320303
                      </P>
                      <P>
                      mail id: capriconwebsolutions@gmail.com
                      </P>

             </div>

</div>
  </div>
  <nav class=" navbar-expand-sm bg-dark navbar-dark">
    <div class="footer">
    <p>Capricon Web Solutions</p>
      <p>
        <a  href="/accounts/">Home</a>
        .
        <a href="/accounts/contact/">Contact Us</a>
        . 
        <a href="/accounts/aboutus/">About Us</a>
      </p>
    </div>
    
    
    </ul>
  </nav>
</body>
</html>
