{% load static %}
{% get_static_prefix as STATIC %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180757271-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180757271-1');
</script>

  <title>Capricon WebSolutions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/fontawesome/css/brands.css" rel="stylesheet">
  <link href="/fontawesome/css/solid.css" rel="stylesheet">

  <link rel="stylesheet" href="{{STATIC}}css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a style ="display:contents;" href="/accounts/"> <img src="{% static "software/logo.png" %}"  alt="Los Angeles" width="105" height="85"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-2">
        <a class="nav-link" href="/accounts/">Home</a>
      </li>
      <li class="nav-item mr-2">
        <div class="dropdown">
          <a class="nav-link dropbtn">Services

          </a>
          <div class="dropdown-content">
          <a href="/accounts/services/">Web Solutions</a>
          <a href="/accounts/service2/">Digital Marketing</a>
          </div>
        </div>
        
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="/accounts/training/">Industrial Training</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="/accounts/contact/">Contact Us</a>
      </li>   
      <li class="nav-item mr-2">
        <a class="nav-link" href="#about">About Us</a>
      </li> 
    </ul>
    <ul class="navbar-nav ml-2">
      <li class="nav-item social twitter mr-2">
        <a href="https://www.linkedin.com/in/capricon-web-a740871ba/" target="_blank"> 
        <img src="{% static "software/linkedin.png" %}" alt="Los Angeles" width="45" height="39">
      </li></a>
      <li class="nav-item social mr-2">
        <a href="https://www.facebook.com/Capricon-Web-Solutions-102573828310411/?modal=admin_todo_tour " target="_blank">
        <img src="{% static "software/face.png" %}" alt="Los Angeles" width="53" height="43">
      </li></a>
      <li class="nav-item social mr-2">
        <a href="https://twitter.com/CapriconSoluti1  " target="_blank">
        <img src="{% static "software/twitter1.png" %}" alt="Los Angeles" width="58" height="48">
      </li></a>
         
    </ul>
  </div>  
</nav>
  <div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static "software/Img.png" %}" alt="img" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="{% static "software/carousel1.png" %}" alt="img" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="{% static "software/abc.jpeg" %}" alt="img" width="1100" height="500">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <div class="container-fluid">
    <center><h2 class="p-2" style="color:blue;">Services We provide</h2></center>
    <div class="row">
      <div class="col-sm">
       <center>
        <img src="{% static "software/cloud-solid.svg" %}" width="70" height="60"/>
          <h3>Web Development</h3>
          <p style="text-align: justify;" class="align"> Capricon is broadly specialize in Software Development, Website-Designing. We develop a full website for your company or business or 
            can be for anything.In today's market website is must for everyone.A web application is software that runs on a web browser. Today we are having thousands of web apps around us. These web apps make our life easier with their functionality.Capricon web solutions also provide the web applications development on different frameworks like Django,Flash using backend languages like Python, PHP etc. We on the whole provide the best and quality service to our customers. Capricon solutions also provides best marketing facilities on line to the customer.Customer satisfaction and solution to the Problem of customer is the main focus of capricon
            web solutions.<br>
            
          </p>
       </center>
      </div>
      <div class="col-sm">
        <center><img src="{% static "software/users-solid.svg" %}" width="70" height="60"/>
          <h3>Digital Marketing</h3>
        <p style="text-align: justify;" class="align"> We provide the best service in Digital Marketing.Search engine optimization (SEO) involves designing, writing, and coding a website in a way that helps to improve the volume and quality of traffic to your website from people using search engines. The marketing strategies you choose depend on your target audience and the nature of your business. SEO is one of many marketing practices and can be part of our overall marketing strategy. Our marketing strategy can include both offline (traditional) and online marketing techniques.Effective SEO techniques help you get more potential customers to your website. Websites that have higher rankings (i.e. presented higher in the search results) are identified to a larger number of people, who will then visit that site. Ensure that you define your market first before engaging in SEO techniques.</p>
        </center>
      </div>
    </div>

  </div>
  <div class="container-fluid trai">
    <div class="row">
      <div style="background-image: url({% static 'software/training-1.jpg' %});" class="col-sm tr">
      
      </div>
      <div class="col-sm">
        <h3 class="">Industrial Training</h3>
        <p style="text-align: justify;" class="align">
            Industrial training is very essential. The student gets a chance to learn new technologies.
            A university is generally not in tune with the latest industry requirements.In engineering and many other
            courses Industrial training is very important.This helps the student to gain industrial exposure and also get familiar with the environment of the corporate world he/she wishes to enter.
            But the most important fact about industrial training is that it should be taken very seriously both by students as well as trainers.
            We provide training in many technologies whether it is front end or backend.
            Capricon provide different type of industrial training listed below.
        </p>
        <p>
          <ul>
              <li>
                  6 Weeks Industrial Training
              </li>
              <li class="pt-2">
                  6 Months Industrial Training
              </li>
          </ul>
      </p>
      </div>

    </div>

  </div>
  <div class="container-fluid pt-2" id="about">
   <div class="row"> 
    <div class="col-sm">
    <h2 class="p-2">About us</h2>
    <p style="text-align: justify;" class="align">Capricon is a software company based in Chandigarh India. Capricon deals with web development and 
      Digital marketing. Capricon Solutions was establish in 2020 and after that our main motive idea is to provide best services 
      and full satisfaction to the customers. We as a team do not focus on the number we prefer quality over quantity.
      India that endeavor on highly proficient, timely delivered and cost effective software,
       website development services. We are highly experienced in offering offshore software development and
        project management. Some of our services include Strategic Technology Consulting, System Integration 
        & Software Development. We provide services in web development and in digital marketing. We also provide the industrial training</p>
  </div>
  <div style="background-image: url({% static 'software/about.jpg' %});"class="col-sm aboutus">

  </div>
  </div>
  </div>
  <div>
  	<h2 class="pt-2" style="text-align: center;"> OUR CLIENTS </h2>
  	<p style="font-weight: bold;text-align: center;"> We have the privilege of working with some of companies </p>
  	<marquee behavior="scroll" direction="left">
    <img src="{% static "software/index12.png" %}" width="120" height="80" alt="Natural" />
    <img src="{% static "software/index18.jpeg" %}" width="120" height="80" alt="Natural" />
    <img src="{% static "software/index15.jpeg" %}" width="120" height="80" alt="Natural" />
    <img src="{% static "software/images26.jpeg" %}" width="120" height="80" alt="Natural" />
    <img src="{% static "software/images.jpeg" %}" width="120" height="80" alt="Natural" />
    <img src="{% static "software/images23.png" %}" width="120" height="80" alt="Natural" />
  </marquee>
  </div>
  <nav class=" navbar-expand-sm bg-dark navbar-dark">
    <div class="footer mt-2">
    <p>Capricon Web Solutions</p>
      <p>
        <a  href="/accounts/">Home</a>
        .
        <a href="/accounts/contact/">Contact Us</a>
        . 
        <a href="#about">About Us</a>
      </p>
    </div>
    
    
    </ul>
  </nav>
</body>
</html>
