{% load static %}
{% get_static_prefix as STATIC %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180757271-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180757271-1');
</script>

  <title>Industrial Training</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/fontawesome/css/brands.css" rel="stylesheet">
  <link href="/fontawesome/css/solid.css" rel="stylesheet">

  <link rel="stylesheet" href="{{STATIC}}css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a style ="display: contents;" href="/accounts/"><img src="{% static "software/logo.png" %}" alt="Los Angeles" width="105" height="85"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-2">
        <a class="nav-link" href="/accounts/">Home</a>
      </li>
      <li class="nav-item mr-2">
        <div class="dropdown">
          <a class="nav-link dropbtn">Services

          </a>
          <div class="dropdown-content">
          <a href="/accounts/services/">Web Solutions</a>
          <a href="/accounts/service2/">Digital Marketing</a>
          </div>
        </div>
        
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="/accounts/training/">Industrial Training</a>
      </li> 
      <li class="nav-item mr-2">
        <a class="nav-link" href="/accounts/contact/">Contact Us</a>
      </li>   
      <li class="nav-item mr-2">
        <a class="nav-link" href="/accounts/aboutus/">About Us</a>
      </li> 
    </ul>
     <li class="nav-item social twitter mr-2">
        <a href="https://www.linkedin.com/in/capricon-web-a740871ba/" target="_blank"> 
        <img src="{% static "software/linkedin.png" %}" alt="Los Angeles" width="45" height="39">
      </li></a>
      <li class="nav-item social mr-2">
        <a href="https://www.facebook.com/Capricon-Web-Solutions-102573828310411/?modal=admin_todo_tour " target="_blank">
        <img src="{% static "software/face.png" %}" alt="Los Angeles" width="53" height="43">
      </li></a>
      <li class="nav-item social mr-2">
        <a href="https://twitter.com/CapriconSoluti1  " target="_blank">
        <img src="{% static "software/twitter1.png" %}" alt="Los Angeles" width="58" height="48">
      </li></a>
         
         
    </ul>
  </div>  
</nav>
  <div class="training">
    <center><h3 style="background-image: url({% static 'software/training.jpg' %}); color:blue;" class="pt-5 pb-5">Industrial Training</h3></center>
  </div>
  <div class="container-fluid">
    <div class="container-fluid">
        
        <h3 class="pt-2">Industrial Training</h3>
        <p style="text-align: justify;" class="align pt-2">
            Industrial training is very essential. The student gets a chance to learn new technologies.
            A university is generally not in tune with the latest industry requirements.In engineering and many other
            courses Industrial training is very important.This helps the student to gain industrial exposure and also get familiar with the environment of the corporate world he/she wishes to enter.
            But the most important fact about industrial training is that it should be taken very seriously both by students as well as trainers.

        </p>
            <p style="text-align: justify;" class="align pt-2">
                When it comes to traning there is six months training and six week training. Both six weeks and six months are important.
                As we know in any university/college students do a lot of theoretical work so training is very important to apply your knowledge in live projects and to do work with the professionals.
                In addition to the technical skill accomplishment of the particular candidate is also groomed on communication Skills, interpersonal skills, working in a team and leadership skills. 
                These skills are very important while applying for a job. We provide training in many technologies whether it is front end or backend.
                Capricon provides different type of industrial training listed below.
            </p>
            <p>
                <ul>
                    <li>
                        6 Weeks Industrial Training
                    </li>
                    <li class="pt-2">
                        6 Months Industrial Training
                    </li>
                </ul>
            </p>
            <h6 class="pt-2">
                    6 Weeks Industrial Training
            </h6>
            <p style="text-align: justify;" class="align pt-2">
            6 weeks of training is as much important as the 6 months training for a student. As in the perod of any graduation you won't able to get time as much as 6 months of training. 
            So as we know that 6 weeks is less time period for a normal graduate and he or she must have done it 2-3 times. So in this type of training you will able to know the work environment well and 
            started working on the small projects. If a student completed its 6 weeks training than its much easier for him/her to start the work during the 6 month training. The
            technologies you will learn with us will help you to get better jobs.
            </p>
            <h6 class="pt-2">
                6 Months Industrial Training
        </h6>
        <p style="text-align: justify;" class="align pt-2">
            6 months industrial training is beneficial for the students in many more ways. In addition to the technical skill accomplishment of the particular candidate is also groomed on communication Skills, interpersonal skills, working in a team and leadership skills. These skills are very important while applying for a job. It is requested to all the engineering students to take their 6 months industrial training very sincerely for their better future.
            In terms of benefit student gains the experience of working with live projects.To apply and implement the theoretical knowledge in the form of technical skills in real industry situations.
            Introduce them with actual programming skills, coding, developing, and testing skills that are required in an individual to work in an industry.
            As a trainee student will stuck in many things. But our professionals will help them and guide them to do the right thing. We also dissolve our trainees in our company only. So, the student has a very good chance to do 6 months training and get placed in our company.
        </p>
        
    

 </div>
  </div>
  <nav class=" navbar-expand-sm bg-dark navbar-dark">
    <div class="footer">
    <p>Capricon Web Solutions</p>
      <p>
        <a  href="/accounts/">Home</a>
        .
        <a href="/accounts/contact/">Contact Us</a>
        . 
        <a href="/accounts/aboutus/">About Us</a>
      </p>
    </div>
    
    
    </ul>
  </nav>
</body>
</html>
